body {
    font-family: Arial;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: rgb(15, 155, 120);
  }
  
  .right {
    right: 0;
    background-color: rgba(0, 255, 221, 0.144);
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
//   border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: rgb(4, 109, 95);
  color: rgb(218, 206, 206);
}

.flip-box-back {
  background-color: rgba(0, 255, 221, 0.144);
  color: white;
  transform: rotateY(180deg);
}

.grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.5);
    transition: 1s ease;
    }
    
    .container {
        width: 100px;
        height: 120px;
    }
    .container img {
        width: 30%;
        height: auto;
    }

    
      .transbox {
        margin: 30px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.6;
      }
      
      .transbox p {
        margin: 5%;
        font-weight: bold;
        color: #000000;
      }

